@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
